<% @user.line_items.each_with_index do |line_item, index| %>
  <h3>Line Item#<%= index + 1 %></h3>
  <br>
  product: <%= line_item.product.title %>
  <br>
  quantity: <%= line_item.quantity %>
  <br>
  order_id: <%= line_item.order_id %>
  <br>
  <br>
<% end %>
