<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>
<h1>Products</h1>
<table>
  <tfoot>
    <tr>
      <td colspan="3">
        <%= link_to 'New Product', new_product_path %>
      </td>
    </tr>
  </tfoot>
  <tbody>
    <%= render partial: "item", collection: @products %>
  </tbody>
</table>
